@import "./theme.scss";

.head {
    padding: 0 1rem;
    height: $head-size;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    &__title  {
        margin: auto 0 0 0;
        text-align: end;
        font-size: $head-font-size;
    }
}

