<mat-card>
    <mat-card-header>
        <mat-card-title>
            Tussenstand
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="stats">
            <div class="stat">
                <h3>{{ sprint.duration | duration }}</h3>
                <span>{{ sprint.duration | durationIndicator }}</span>
            </div>
            <div class="stat">
              <h3>{{ sprint.walks.length }}</h3>
              <span>keer</span>
            </div>
        </div>
    </mat-card-content>
</mat-card>

