<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      fixedInViewport
      attr.role="dialog"
      mode="over">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list (click)="drawer.toggle()">
      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/sprints">Sprints</a>
      <a mat-list-item routerLink="/profiel">Profiel</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>walker</span>
      <mat-icon *ngIf="offline$ | async" wlkNoContextMenu matTooltip="Je bent offline" class="right">wifi_off</mat-icon>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
